.leaningblock{ @apply py-0 w-full text-2xl my-4}

.smallbtn{ @apply p-3 py-1 text-base rounded bg-orange-600 text-white cursor-pointer}

.textbox{ @apply p-3 text-lg items-center rounded bg-slate-200 flex gap-x-4 my-4 flex-row w-5/12}

.speaker{ @apply hover:text-red-500 cursor-pointer}